body {
    font-family: 'Aldrich';font-size: 22px;
    margin: auto;
    width: 60%;
    border: 5px solid white;
    padding: 10px;
    background-color:rgb(127, 153, 187);
    color: white;
    
}

input {
    margin: 10px 10px;
    background-color: rgb(163, 163, 163);
    border: 1px solid black;
    cursor: pointer;    
}

.one {
    color: blue;
}

